<div  *ngIf="!issubmit" class="register-form">
  <form #f="ngForm" (ngSubmit)="f.form.valid &&onSubmit(f)">
    <div class="form-group">
      <label>Full Name</label>
      <input required minlength="3" maxlength="10" type="text"
             #name="ngModel" name="firstname"
             class="form-control" [(ngModel)]="data.fullname" ngModel />

      <div *ngIf="name.errors && f.submitted" class="alert alert-danger">
        <div *ngIf="name.errors['required']">name Required</div>
        <div *ngIf="name.errors['minlength']">name min length Required</div>
        <div *ngIf="name.errors['maxlength']">name max length Required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text"
             required minLlength="3" maxlength="10" name="username" #username="ngModel"
             [(ngModel)]="data.username" class="form-control" ngModel />
      <div *ngIf="username.errors && f.submitted" class="alert alert-danger">
        <div *ngIf="username.errors['required']">name Required</div>
        <div *ngIf="username.errors['minlength']">name min length Required</div>
        <div *ngIf="username.errors['maxlength']">name max length Required</div>
        </div>
      </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email"
             required name="email" #email="ngModel" email="true"
             [(ngModel)]="data.email" class="form-control" ngModel />
      <div *ngIf="email.errors && f.submitted" class="alert alert-danger">
      <div *ngIf="email.errors['required']">name Required</div>
      <div *ngIf="email.errors['email']">Email format Required</div>
     </div>

    </div>
  <div class="form-group">
     <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
</div>
<div  class ="alert alert-success" *ngIf="issubmit">Form Submitted</div>
